<h1>Dash </h1>

<%= form_for @challenge do |form| %>
<%= form.fields_for :content do |content_form|%>
<%= content_form.text_field :body, placeholder: "Challenge Here", required: true%>
<%end%>
<%= form.submit "Challenge" %>
<%end %>

<%= render @challenges%>