<h1>Dash </h1>

<%= form_for @challenge do |form| %>
<%= form.hidden_field :content_type , value: "TextChallenge"%>
<%= form.fields_for :content do |content_form|%>
<%= content_form.text_field :body, placeholder: "Challenge Here", required: true%>

<%= content_form.submit "Challenge" %>
<%end %>
<%end%>

<%= form_for @challenge do |form| %>
<%= form.hidden_field :content_type , value: "PhotoChallenge"%>
<%= form.fields_for :content do |content_form|%>
<%= content_form.file_field :image, required: true%>

<%= content_form.submit "Challenge" %>
<%end %>
<%end%>
<%= render @challenges%>