<h1>Dash </h1>

<%= challenge_form_for(TextChallenge) do |form| %>
  <%= form.text_field :body, placeholder: "Challenge Here", required: true %>
<% end %>

<%= challenge_form_for(PhotoChallenge) do |form| %>
  <%= form.file_field :image, required: true %>
<% end %>

<%= render @dashboard.timeline%> 
